@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* scroll for y-direction */
  overflow-y: auto;
    @apply bg-[#F4F4F4]
    
}



@layer base {
    @font-face{
        font-family:conthrax;
        font-style:normal;
        font-weight:600;
        src:local('Conthrax'),url('./assets/conthrax-sb.ttf') format('woff')
    }
    
  }

/* table header class */
.th-class{
   @apply py-2 text-[1.7vh] font-bold  text-[#132B47] uppercase tracking-wider
}
/* table row class */
.td-class {
 @apply py-2  text-[1.5vh] text-left text-black font-serif font-[600]
}


/* customize scroll bar */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(164, 162, 162);
    border-radius: 10px;
  }
  
